# Patterns of intentionally untracked files that Git should ignore

# Python compiled files
__pycache__/

# Virtual Python Environment builder
.virtualenv/

# Django settings and SQLite3 database
learningprogress_settings.py
db.sqlite3

# Collected static files
collected_static/

# Coverage.py – Code coverage measurement for Python
.coverage
htmlcov/

# Private development data
private/
