# Patterns of intentionally untracked files that Git should ignore

# Virtual Python Environment builder
.virtualenv/

# Python compiled files
__pycache__/

# Django settings and SQLite3 database
settings.py
db.sqlite3

# Collected static files
collectstatic/

# Coverage.py – Code coverage measurement for Python
.coverage
htmlcov/

# Private development data
private/
