{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ config.TITLE }}{% endblock %}</title>
    <link href="{% static 'css/bootstrap-3.1.1.min.css' %}" rel="stylesheet">
    <style>
        body {background-color:#FFFFCC;}
        .navbar-default {background-color:#FFCC33;}
        .navbar-default p.navbar-text {color: #d9534f;}
        .navbar-default .navbar-nav > li > a {color: #d9534f;}
        nav .nav-pills > li > a {color: #d9534f;}
        nav .nav-pills > li.active > a {background-color: #d9534f;}
        nav .nav-pills > li.active > a:hover {background-color: #d9534f;}
        nav .nav-pills > li.active > a:focus {background-color: #d9534f;}
    </style>
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-default">
                <h1 class="sr-only">{% trans 'Registration and authentication' %}</h1>
                <div class="container-fluid">
                    {% if user.is_authenticated %}
                        <p class="navbar-text ">{% trans 'User' %}: {{ user }}</p>
                    {% endif %}
                    <ul class="nav nav-pills navbar-nav navbar-right">
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'user_create' %}">{% trans 'Register' %}</a></li>
                            <li><a href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
                        {% else %}
                            <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                            {% if user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">{% trans 'Administration' %}</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="page-header">
                <h1>{{ config.TITLE }} <small>{{ config.SUBTITLE }}</small></h1>
            </div>
            <nav>
                <h1 class="sr-only">{% trans 'Navigation' %}</h1>
                <ul class="nav nav-pills">
                    {% if user.is_authenticated %}
                        <li {% if view.self_pattern_name == 'home' %}class="active"{% endif %}>
                            <a href="{% url 'home' %}">{% trans 'Home' %}</a>
                        </li>
                        <li {% if view.self_pattern_name == 'section_list' or view.self_pattern_name == 'usersectionrelation_update' %}class="active"{% endif %}>
                            <a href="{% url 'section_list' %}">{% trans 'My learning progress' %}</a>
                        </li>
                        <li {% if view.self_pattern_name == 'mockexam_form' or view.self_pattern_name == 'mockexam_delete'%}class="active"{% endif %}>
                            <a href="{% url 'mockexam_form' %}">{% trans 'My mock exams' %}</a>
                        </li>
                        <li {% if view.self_pattern_name == 'user_update' %}class="active"{% endif %}>
                            <a href="{% url 'user_update' %}">{% trans 'Change user data' %}</a>
                        </li>
                    {% else %}
                        <li class="active"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                    {% endif %}
               </ul>
            </nav>
        </header>
        <main>
            <article>
                {% block content %}
                    <h1>{{ config.HOME_HEADING }}</h1>
                    {{ config.HOME_TEXT|safe }}
                {% endblock %}
            </article>
        </main>
        <footer>
            <div class="container">
                <hr>
                <p>
                    {{ config.HOME_FOOTER }}
                    <br>
                    Powered by <a href="https://github.com/LearningProgress">LearningProgress</a>
                </p>
            </div>
        </footer>
    </div>
    {% block script %}{% endblock %}
</body>
</html>
