{% extends 'home.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{{ block.super }} – {% trans 'Log in' %}{% endblock %}

{% block content %}
    <h1>{% trans 'Log in' %}</h1>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}">
            <a class="btn btn-default" href="{% url 'password_reset' %}">{% trans 'Password reset' %}</a>
            <a class="btn btn-default" href="{% url 'user_create' %}">{% trans 'Register' %}</a>
        {% endbuttons %}
            <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}
