{% extends 'home.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{{ block.super }} – {% trans 'Password change' %}{% endblock %}

{% block content %}
    <h1>{% trans 'Password change' %}</h1>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <input class="btn btn-primary" type="submit" value="{% trans 'Password change' %}" />
            <a class="btn btn-default" href="{% url 'user_update' %}" role="button">{% trans 'Back' %}</a>
        {% endbuttons %}
    </form>
{% endblock %}
