{% extends 'home.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{{ block.super }} – {% trans 'Password reset' %}{% endblock %}

{% block content %}
    <h1>{% trans 'Password reset' %}</h1>
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <input class="btn btn-primary" type="submit" value="{% trans 'Password reset' %}" />
            <a class="btn btn-default" href="{% url 'login' %}" role="button">{% trans 'Back' %}</a>
        {% endbuttons %}
    </form>
{% endblock %}
