{% extends 'home.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{{ block.super }} – {% trans 'Change user data' %}{% endblock %}

{% block content %}
    <h1>{% trans 'Change user data' %}</h1>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <input class="btn btn-primary" type="submit" value="{% trans 'Save' %}" />
            <a class="btn btn-default" href="{% url 'password_change' %}">{% trans 'Change password' %}</a>
            <a class="btn btn-default" href="{% url 'user_delete' %}">{% trans 'Delete' %}</a>
            <a class="btn btn-default" href="{% url 'home' %}">{% trans 'Back' %}</a>
        {% endbuttons %}
    </form>
{% endblock %}
