{% extends 'home.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{{ block.super }} – {% trans 'Register' %}{% endblock %}

{% block content %}
    <h1>{% trans 'Register' %}</h1>
    <p>{% trans 'If you enter a valid email address, you will be able to reset your password if you have forgotten it.' %}</p>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <input class="btn btn-primary" type="submit" value="{% trans 'Register and log in' %}">
        {% endbuttons %}
    </form>
{% endblock %}
