{% extends 'home.html' %}

{% load i18n %}
{% load mptt_tags %}
{% load staticfiles %}
{% load learning_progress_extras %}

{% block title %}{{ block.super }} – {% trans 'My learning progress' %}{% endblock %}

{% block content %}
    <header>
        <h1>{% trans 'My learning progress' %}</h1>
        <p>
            <a href="{% url 'print_note_cards' %}" class="btn btn-danger btn-sm" role="button" title="{% trans 'Only sections with own comments are printed.' %}">
                <span class="glyphicon glyphicon-print"></span>
                {% trans 'Print note cards' %}
            </a>
            <a href="{% url 'usersectionrelation_export' %}" class="btn btn-danger btn-sm" role="button">
                <span class="glyphicon glyphicon-export"></span>
                {% trans 'Export as JSON' %}
            </a>
        </p>
        {% if user.exam_days %}
            <p>
                {% blocktrans count days=user.exam_days %}
                    Still one day until exam.
                {% plural %}
                    Still {{ days }} days until exam.
                {% endblocktrans %}
            </p>
        {% endif %}
        {% for progress_dict in user_learning_progress reversed %}
            <span class="glyphicon glyphicon-{{ progress_dict.css_glyphicon }}"></span> {{ progress_dict.text }}
            <div class="progress">
                <div class="progress-bar progress-bar-{{ progress_dict.css_progress_bar }}" style="width:{{ progress_dict.value }}%;">
                    {{ progress_dict.value }} %
                </div>
            </div>
        {% endfor %}
        <hr>
    </header>
    <ul class="list-unstyled">
        {% recursetree section_list %}
            <li class="">
                {% if not node.is_leaf_node %}
                    {{ node.name }}
                    <ul style="list-style-type:none; padding-left:2em;">
                        {{ children }}
                    </ul>
                {% else %}
                    <a class="section-node" href="{% url 'usersectionrelation_update' node.pk %}">
                        {{ node.name }}
                    </a>
                    <span class="glyphicon glyphicon-{% section_progress_icon node %}"></span>
                    <span class="sr-only">{% section_progress_text node %}</span>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.form-3.51.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-3.3.7.min.js' %}"></script>
    <script>
        $('a.section-node').click(function () {
            var tag = $(this);
            var url = tag.attr('href');
            $.get(url, function (data) {
                tag.popover({
                    trigger: 'manual',
                    placement: 'auto',
                    html: true,
                    content : function () {
                        return data.html;
                    }
                }).popover('show');
                $('button.close', tag.next()).click(function () {
                    tag.popover('hide');
                });
                $('a.close-popover', tag.next()).click(function () {
                    tag.popover('hide');
                    return false;
                });
                $('form', tag.next()).submit(function () {
                    for (instance in CKEDITOR.instances) {
                        CKEDITOR.instances[instance].updateElement();
                    };
                    var querystring = $(this).formSerialize();
                    $.post(url, querystring, function (data) {
                        if (data.form_errors) {
                            var form_errors_string = '';
                            for (var error in data.form_errors) {
                                form_errors_string = form_errors_string + ' ' + error;
                            }
                            alert('Form error in' + form_errors_string);
                        } else {
                            location.reload();
                        };
                    });
                    return false;
                });
            });
            return false;
        })
    </script>
{% endblock %}
