{% load bootstrap3 %}
{% load i18n %}

{% if section.notes %}
    <div class="form-group">
        <label>{% trans 'Notes' %}</label>
        <p class="form-control-static">{{ section.notes }}</p>
    </div>
{% endif %}
<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <input class="btn btn-primary" type="submit" value="{% trans 'Save' %}">
        <a class="btn btn-default close-popover" href="{% url 'section_list' %}">{% trans 'Back' %}</a>
    {% endbuttons %}
</form>

<script src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace(
        'id_comment',
        {toolbar: [
            ['Bold', 'Italic', 'Underline', 'Strike', '-',
             'NumberedList', 'BulletedList', 'TextColor', 'BGColor', '-',
             'Undo', 'Redo', 'RemoveFormat', '-',
              'Source'
            ]
         ]
        }
    );
</script>
